.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-header {
    height: 30px;
    max-width: 100%;
    object-fit: contain;
}

ion-header {
    height: 60px;
}