<ion-fab slot="fixed" vertical="top" horizontal="end">
  <ion-fab-button color="primary" (click)="setOpen(true)">
    <ion-icon name="timer"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-modal [isOpen]="isModalOpen" [presentingElement]="presentingElement" (didPresent)="load()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Turnos de condução</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button color="success" expand="block" (click)="newTimeLog('start')" *ngIf="status == 'end'">
        Iniciar turno
      </ion-button>
      <ion-grid *ngIf="status == 'start' || status == 'continue'">
        <ion-row>
          <ion-col>
            <ion-button color="medium" expand="block" (click)="newTimeLog('pause')">
              Pausar turno
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="block" (click)="newTimeLog('end')">
              Concluir turno
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="secondary" expand="block" *ngIf="status == 'pause'" (click)="newTimeLog('continue')">
        Retomar turno
      </ion-button>
      <ion-button expand="full" fill="clear" color="light" (click)="openTimeLogs()">
        Consultar turnos
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>